<section class="fullSect home">
    <div class="callOutArea">
        <h1>Deck Constructor</h1>
        <p>Select a deck below to bring up and view a certain card from these decks.</p>
        <p for="albums">Choose a Popular Deck:</p><br>
        <select name="albums" id="albums">
            <option value=""></option>
            <!-- Genre: Aggro Demon Hunter -->
            <option value="Aggro Demon Hunter">Aggro Demon Hunter</option> 
            <!-- Genre: Pure Paladin -->
            <option value="Pure Paladin">Pure Paladin</option>
            <!-- Genre:Secret Miracle Rogue  -->
            <option value="Secret Miracle Rogue">Secret Miracle Rogue</option>
          </select>
    </div>
</section>

<!-- <div class="inputBox">
    <input id="cardName" type="text" placeholder="Search for a specifc card">
    <button id="getCard">Get Card</button>
</div> -->
<div class="content"></div>


<div class="fullContent"  id="everything">
  
</div>

   <div id="footer">&copy;2020 Japhet Diaz</div>


<script type="module" src="views/create/create.js"></script>