<section class="fullSect home">
    <div class="callOutArea">
        <h1>Sign Up</h1>
        <p>Enter your information below in order to create your decklist today!</p>
    </div>
</section>
<br />
<div class="wrapper contact">
    <form>
    <div>
        <label>First Name:</label>   
        <input type="text" id="fName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" id="lName" name="lName">
    </div>
    <div>
        <Label>Email:</Label>
        <input type="email" class="email" name="email">
    </div>
    <div>
        <label>Password:</label>
        <input type="text" id="password" name="Classes">
    </div>
    </form></div>
    <br>
    <div class="wrapperButtons">
    <button id="signupBtn">Sign Up</button>
    </div>
    <br>
    <div class="wrapperButtons">
    <!-- <button id="studentListButton">Show Student Data</button> -->

    <div id="footer">&copy;2020 Japhet Diaz</div>

    <script src="views/signup/signup.js"></script>