.about {
    display: flex;
    padding:70px 20px 20px 20px;
    box-sizing: border-box;
    .leftSide {
      width: 50%;
      background-color:blue;
    }
    .rightSide {
      width:50%;
      background-color: #cc0000;
    }
  }