<section class="fullSect home">
    <div class="callOutArea">
        <h1>Log In</h1>
        <p>Log in below to create and store your very own decklist today!</p>
    </div>
</section>

<div class="wrapper contact">
    <form>
    <div>
        
    </div>
    <div>
        
    </div>
    <div>
        <Label>Email:</Label>
        <input type="email" class="email" name="email">
    </div>
    <div>
        <label>Password:</label>
        <input type="text" id="password" name="Classes">
    </div>
    </form></div>
    <br>
    <div class="wrapperButtons">
    <button id="loginBtn">Log In</button>
    </div>
    <br>
    <div class="wrapperButtons">
    <!-- <button id="studentListButton">Show Student Data</button> -->

    <div id="footer">&copy;2020 Japhet Diaz</div>

    <script src="views/signup/signup.js"></script>