
  <section class="fullSect home">
    <div class="callOutArea">
        <h1>Hearthstone Card Database</h1>
        <p>Input a card name below to bring up a certain card</p>
        <span>Sign up today to create and store your very own decklist</span>
    </div>
</section>

<div class="inputBox">
    <input id="cardName" type="text" placeholder="Search for a specifc card">
    <button id="getCard">Get Card</button>
</div>
<div class="container">
    <div class="title"></div>
<div class="content">
</div>

<div id="footer">&copy;2020 Japhet Diaz</div>

<script src="views/home/home.js"></script>